<div class="todo-app">
  <h1>My Sticky Note</h1>
  <div class="add-todo">
    <input
      type="text"
      placeholder="Add todo..."
      [(ngModel)]="taskValue"
    />
    <button (click)="handleSubmit()">Submit</button>
  </div>
  <div class="show-todo">
    <div *ngFor="let todo of todoList" [class.completed]="todo.completed" class="item">
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="handleToggle(todo.id)"
      />
      <p>{{ todo.value }}</p>
      <button (click)="handleEdit(todo.id, todo.value)">Edit</button>
      <button (click)="handleDelete(todo.id)">Delete</button>
    </div>
  </div>
  <div style="margin-top: 20px; font-weight: 800;">
    Total complete items: {{ completedCount }}
  </div>
</div>
